/* navbar */
img.flag {
    width: 1.38rem;
    height: 1.38rem;
    margin: 0.5rem;
}

img.flag:hover {
    width: 2rem;
    height: 2rem;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    margin: 0rem;
}

a.flagLink {
    color: transparent !important;
}

img.selected {
    border-style: solid;
    border-width: 0.14rem;
    border-color: greenyellow;
    border-radius: 100%;
}

@media screen and (min-width: 722px) {
    img.logo {
        width: 15rem;
        height: 4rem;
    }
}

@media screen and (max-width: 721px) {
    img.logo {
        width: 11.1rem;
        height: 3rem;
    }

    .flags {
        margin: 0 auto;
        width: 100px;
    }
}

#nav {
    background: #1F363D;

}

a.nav-elm {
    font-family: Karla, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.52rem !important;
}

/*img resize */

img.resize {
    height: 40rem;
    width: 120rem;
}

/* team */

.team-text {
    font-family: Open Sans, sans-serif, serif;
}

@media screen and (min-width: 722px) {
    #mapid {
        height: 16.5rem;
        width: 31rem;
        margin-top: 6rem;
    }

    .team-text {
        font-size: 4vh;
    }

    .people h6 {
        font-size: 5vh;
    }

    .people img {
        width: 60%;
        height: auto;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 721px) {
    #mapid {
        height: 40vw;
        width: 80vw;
        margin: auto;

    }

    .team-text {
        font-size: 3vh;
    }

    .people h6 {
        font-size: 3vh;
    }

    .people img {
        width: 100%;
        height: auto;
    }

    .people p {
        font-size: small;
    }
}

.people .col-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* footer */
a.foot:visited {
    color: #999999;
}

.foot {
    font-family: Open Sans, sans-serif, serif;
}

@media screen and (min-width: 722px) {
    .foot {
        font-size: small;
    }
}


@media screen and (max-width: 721px) {
    .foot {
        font-size: x-small;
    }
}
/*font si asezare*/
 .featurette-divider {
    margin: 2rem ; } 
.featurette-heading {
    font-weight: 100;
    letter-spacing: -.05rem;
    margin-left: 1rem;}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
/*scrisul ami boldat aka mai frumusel*/
 @media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}
@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 1rem;
    }
}
/*ZOOM IMAGE optional??? 
#zoom {
    transition: transform .2s; 
}

#zoom:hover {
    transform: scale(1.5); 
}
*/

/*MODAL IMAGES*/

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
