img.flag {
	width:1.38rem;
	height:1.38rem;
	margin:0.5rem;
}

img.resize {
	height: 30rem;
	width: 100rem;
}

img.flag:hover {
	width:2rem;
	height:2rem;
	-o-transition:.5s;
 	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
	transition:.5s;
	margin:0rem;
}

img.selected {
	border-style: solid;
	border-width: 0.1rem;
	border-color: greenyellow;
	border-radius: 100%;
}

a.flagLink {
	color: transparent !important;
}

img.logo {
	width:15rem;
	height:4rem;
}

#mapid { 
	height: 16.5rem;
	width: 31rem;
}